---
title: "Wild Strength Coaching"

layout: page

permalink: /

header:
    overlay_image: /assets/images/header.webp
    overlay_filter: rgba(0, 0, 0, 0.6)

    actions:
        - label: "<i class='fab fa-instagram' style='color: #ACD037;'></i> Instagram"
          url: https://www.instagram.com/wildstrengthcoaching/
          blank: true
        - label: "<i class='far fa-handshake' style='color: #ACD037;'></i> Vereinbare jetzt dein Erstgespräch!"
          url: /#contact
excerpt: "**Placeholder Sub Header, e.g. Slogan or anything like that**"




round-images:
    - image-path: "/assets/images/sydney-2.webp"
      size: "third"
      header: "Angebot 1"
      caption: "Beschreibung"
    - image-path: "/assets/images/sydney-3.webp"
      size: "third"
      header: "Angebot 2"
      caption: "Beschreibung"
    - image-path: "/assets/images/sydney-4.webp"
      size: "third"
      header: "Angebot 3"
      caption: "Beschreibung"

image-text-row:
    - excerpt: "Welcome to Wild Strength Coaching, your premier destination for powerlifting coaching and training. This is a placeholder text!"
      image-url: "/assets/images/header.webp"
      alt-text: "Jan Wildner, der Coach hinter Wild Strength Coaching Powerlifting Coaching"
      image-width: "400px"
      image-right: false

testimonial-one:
    - excerpt: "'Testimonial-Text 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'"
      image-url: "/assets/images/sydney-3.webp"
      alt-text: ""
      image-width: "400px"
      image-right: false

testimonial-two:
    - excerpt: "'Testimonial-Text 2 Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur'"
      image-url: "/assets/images/sydney-4.webp"
      alt-text: ""
      image-width: "400px"
      image-right: false

testimonial-three:
    - excerpt: "'Testimonial-Text 3 Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur'"
      image-url: "/assets/images/sydney-5.webp"
      alt-text: ""
      image-width: "400px"
      image-right: false

---

<section class="site-section alternative-color first-section" id="about">

    <h1>Über mich</h1>

    <div class="box box--subtle">

    {% include image-text-row %}

    </div>

</section>






<hr class="section-sep">







<section class="site-section" id="coaching">

    <h1>Coaching Angebote</h1>

    <div class="notice--success">
        <p style="font-size: 120%">Ungeachtet deiner Erfahrungen und Zielsetzungen findest du hier maßgeschneiderte Coaching-Angebote, die sich auch deinen zeitlichen und finanziellen Rahmenbedingungen anpassen.</p>
    </div>

    <hr>

    {% include round-images %}


</section>








<hr class="section-sep">







<section class="site-section alternative-color" id="testimonials">

    <h1>Testimonials</h1>

    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="box box-subtle testimonial">
                {% include image-text-row id="testimonial-one" %}
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box box-subtle testimonial">
                    {% include image-text-row id="testimonial-two" %}
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box box-subtle testimonial">
                    {% include image-text-row id="testimonial-three" %}
                </div>
            </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>



</section>







<hr class="section-sep">








<section class="site-section" id="contact">

    <h1>Kontakt</h1>

    <div class="notice--success">
        <p>Schreib mir gerne über Instagram oder per E-Mail, ich freue mich auf deine Nachricht!</p>
        <a href="https://www.instagram.com/wildstrengthcoaching/" class="btn btn--success btn--large"  target="_blank" rel="noopener noreferrer nofollow"><i class='fab fa-instagram'></i> Instagram</a>
        <a href="mailto: jan@wildstrengthcoaching.de" class="btn btn--success btn--large"><i class='fa fa-envelope'></i> E-Mail</a>
    </div>


    <div class="notice--success">
    <h3>Oder buche dir hier direkt dein Erstgespräch:</h3>

    <!-- Calendly inline widget begin -->
    <div class="calendly-inline-widget" data-url="https://calendly.com/per-starke-webdev/30min?primary_color=00adb5" style="min-width:320px;height:700px;"></div>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
    <!-- Calendly inline widget end -->
    </div>


</section>