---
title: "Wild Strength Coaching"

layout: page

permalink: /

header:
    overlay_image: /assets/images/header.webp
    overlay_filter: rgba(0, 0, 0, 0.6)

    actions:
        - label: "<i class='fab fa-instagram' style='color: #ACD037;'></i> Instagram"
          url: https://www.instagram.com/wildstrengthcoaching/
          blank: true
        - label: "<i class='far fa-handshake' style='color: #ACD037;'></i> Vereinbare jetzt dein Erstgespräch!"
          url: /#contact
excerpt: "**Placeholder Sub Header, e.g. Slogan or anything like that**"




round-images:
    - image-path: "/assets/images/sydney-2.webp"
      size: "third"
      header: "Angebot 1"
      caption: "Beschreibung"
    - image-path: "/assets/images/sydney-3.webp"
      size: "third"
      header: "Angebot 2"
      caption: "Beschreibung"
    - image-path: "/assets/images/sydney-4.webp"
      size: "third"
      header: "Angebot 3"
      caption: "Beschreibung"

image-text-row:
    - excerpt: "Welcome to Wild Strength Coaching, your premier destination for powerlifting coaching and training. This is a placeholder text!"
      image-url: "/assets/images/header.webp"
      alt-text: "Jan Wildner, der Coach hinter Wild Strength Coaching Powerlifting Coaching"
      image-width: "400px"
      image-right: false

---

<section class="site-section alternative-color first-section" id="about">

    <h1>Über mich</h1>

    <div class="box box--subtle">

    {% include image-text-row %}

    </div>

</section>






<hr class="section-sep">







<section class="site-section" id="coaching">

    <h1>Coaching Angebote</h1>

    <div class="notice--success">
        <p style="font-size: 120%">Ungeachtet deiner Erfahrungen und Zielsetzungen findest du hier maßgeschneiderte Coaching-Angebote, die sich auch deinen zeitlichen und finanziellen Rahmenbedingungen anpassen.</p>
    </div>

    <hr>

    {% include round-images %}


</section>








<hr class="section-sep">







<section class="site-section alternative-color" id="testimonials">

    <h1>Testimonials</h1>


</section>







<hr class="section-sep">








<section class="site-section" id="contact">

    <h1>Kontakt</h1>

    <div class="notice--success">
        <p>Schreib mir gerne über Instagram oder per E-Mail, ich freue mich auf deine Nachricht!</p>
        <a href="https://www.instagram.com/wildstrengthcoaching/" class="btn btn--success btn--large"  target="_blank" rel="noopener noreferrer nofollow"><i class='fab fa-instagram'></i> Instagram</a>
        <a href="mailto: jan@wildstrengthcoaching.de" class="btn btn--success btn--large"><i class='fa fa-envelope'></i> E-Mail</a>
    </div>


    <div class="notice--success">
    <h3>Oder buche dir hier direkt dein Erstgespräch:</h3>

    <!-- Calendly inline widget begin -->
    <div class="calendly-inline-widget" data-url="https://calendly.com/per-starke-webdev/30min?primary_color=00adb5" style="min-width:320px;height:700px;"></div>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
    <!-- Calendly inline widget end -->
    </div>


</section>